

{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <!-- 上面是主题自带的,只展示一部分,其余省略 -->
<!-- ---这是我们添加进去的--------- -->
<!-- 首页欢迎字幅板块 -->
<div class="welcome">
    <p style="font-size: 1.5rem; text-align: center; font-weight: bold">
      <span class="shake">👋</span>
      <span class="jump-text1" > Welcome</span>
      <span class="jump-text2"> To </span>
      <span class="jump-text3" style="color:#e99312">YMX</span>
      <span class="jump-text4" style="color:#e99312">'s</span>
      <!-- <span class="jump-text7" style="color:#e99312">X</span> -->
      <!-- <span class="jump-text8" style="color:#e99312">'s</span>  -->
      <span class="jump-text5" style="color:#e99312">Blog</span>
    </p>
  </div>
  <!-- ------首页欢迎字幅板块------ -->
  <!-- 下面也是主题自带的,只展示一部分,其余省略 -->

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}


